<ngx-spinner type="ball-clip-rotate-multiple" color="rgb(239, 28, 35)"></ngx-spinner>

<div class="row header">
    <div class="col-md-4 logoStand">
        <img src="./assets/developer_marvel.png" />
    </div>
    <div class="col-md-4">
        <div class="d-flex align-items-center search-box-container">
            <input  type="search" placeholder="Search character..." class="search-box" />
            <div class="search-icon"></div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-9 main-container">
        <br />
        <div class="row">
            <div class="col-md-9 d-flex align-items-center">
                <div class="characters-icon"></div>
                <div class="panel-title">Characters</div>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option>Sort by</option>
                    <option>Sort by</option>
                    <option>Sort by</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div *ngFor='let character of characters' class="col-md-6 character-card">
                <div class="row character-detail">
                    <div class="col-md-4 character-thumbnail-container">
                        <img src="{{character.thumbnail.path}}/standard_xlarge.{{character.thumbnail.extension}}" class="character-thumbnail" />
                    </div>
                    <div class="col-md-8">
                        <div alt="character.name" class="character-name">{{character.name | uppercase}}</div>
                        <div class="character-description">{{character.description | truncate}}</div>
                        <div class="btn btn-info" (click)="toggleLoading()">VIEW MORE</div>
                    </div>
                </div>
                <div class="row" style="background-color: white;">                        
                    <div class="col-md-12">Related comics</div>
                    <div class="col-md-6 related-comic">
                        <div style="width: 100%; height: 50px; border: 2px dotted teal;"></div>
                    </div>
                    <div class="col-md-6 related-comic">
                        <div style="width: 100%; height: 50px; border: 2px dotted teal;"></div>
                    </div>
                    <div class="col-md-6 related-comic">
                        <div style="width: 100%; height: 50px; border: 2px dotted teal;"></div>
                    </div>
                    <div class="col-md-6 related-comic">
                        <div style="width: 100%; height: 50px; border: 2px dotted teal;"></div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" (click)='changePage(currentPage-1)' [hidden]="lowerLimitReached">&lt;</a></li>
                <li class="page-item"><a class="page-link" (click)='changePage(currentPage-1)' [hidden]="lowerLimitReached">{{currentPage-1}}</a></li>
                <li class="page-item"><a class="page-link current-page">{{currentPage}}</a></li>
                <li class="page-item"><a class="page-link" (click)='changePage(currentPage+1)'>{{currentPage+1}}</a></li>
                <li class="page-item"><a class="page-link" (click)='changePage(currentPage+2)'>{{currentPage+2}}</a></li>
                <li class="page-item"><a class="page-link" (click)='changePage(currentPage+3)'>{{currentPage+3}}</a></li>
                <li class="page-item"><a class="page-link" (click)='changePage(currentPage+1)'>&gt;</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-3 favourites-panel">
        <br />
        <div class="d-flex align-items-center" style="width: 100%;">
            <div class="favourites-icon"></div>
            <div class="panel-title"  style="text-align: center;">My favourites</div>
        </div>
    </div>
</div>